[defaults]
inventory = /home/mk8ansible/automation/Repository/inventory.hosts.yaml
#inventory = ./inventory/hosts.yaml
remote_user = masterubuntu
host_key_checking = True
stdout_callback = yaml

#stdout_callback = ini

[privilege_escalation]
#become = True
#become_method = sudo
#become_user = root

